<h3 class="center small-t-room">Your Home Information</h3>
<h4 class="center small-b-room">Step 2 of 3</h4>
<form method="post" class="signup-form" action="/homeowners/advanced-home-information">
  <!-- TODO: refector into some partials, this is ridiculous -->
  <input type="hidden" name="_csrf" value="{{data.csrfToken}}">
  <div class="row">
    <div class="col push-m9 m3 push-s7 s5 inline input-field">
      <button class="btn waves-effect waves-light" type="submit">Next</button>
    </div>
  </div>
  <!-- TODO: not really possible with current setup -->
  <!-- <div class="inline input-field"> -->
  <!-- <a class="btn blue darken-2 waves-effect waves-light" href="/homeowners/basic-home-information">Back</a> --->
  <!-- </div> -->
  <div class="row">
    <div class="col s12 m6 l5 offset-l1">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <!-- TODO: it would be pretty awesome to have some badges
          on these collapsibles and to do accordion style -->
          <div class="collapsible-header">Backyard</div>
          <div class="collapsible-body">
            {{{numberField name="backyard_size" msg=messages.backyard_size label="Approx. area (in sq ft): " data=data.backyard_size}}}
            {{{inlineCheckbox name="backyard_private" label="Private" data=data.backyard_private}}}
            {{{inlineCheckbox name="backyard_swingset" label="Swingset" data=data.backyard_swingset}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Garage</div>
          <div class="collapsible-body">
            {{{numberField name="garage_size" msg=messages.garage_size label="Approx. area (in sq ft): " data=data.garage_size}}}
            {{{inlineCheckbox name="garage_private" label="Private" data=data.garage_private}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Storage</div>
          <div class="collapsible-body">
            {{{numberField name="storage_size" msg=messages.storage_size label="Approx. area (in sq ft): " data=data.storage_size}}}
            {{{inlineCheckbox name="storage_private" label="Private" data=data.storage_private}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Driveway or External Parking</div>
          <div class="collapsible-body">
            {{{numberField name="parking_size" msg=messages.parking_size label="Approx. area (in sq ft): " data=data.parking_size}}}
            {{{inlineCheckbox name="parking_private"  label="Private" data=data.parking_private}}}
            {{{inlineCheckbox name="parking_covered"  label="Covered" data=data.parking_covered}}}
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m6 l5">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header">Spa</div>
          <div class="collapsible-body">
            {{{numberField name="spa_size" msg=messages.spa_size label="Approx. area (in sq ft): " data=data.spa_size}}}
            {{{inlineCheckbox name="spa_private"  label="Private" data=data.spa_private}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Pool</div>
          <div class="collapsible-body">
            {{{numberField name="pool_size" msg=messages.pool_size label="Approx. area (in sq ft): " data=data.pool_size}}}
            {{{inlineCheckbox name="pool_private"  label="Private" data=data.pool_private}}}
            {{{inlineCheckbox name="pool_heated"  label="Heated" data=data.pool_heated}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Air Conditioning</div>
          <div class="collapsible-body">
            {{{inlineCheckbox name="ac_private"  label="Private" data=data.ac_private}}}
            {{{inlineCheckbox name="ac_central"  label="Whole home" data=data.ac_central}}}
            {{{inlineCheckbox name="ac_swampcooler"  label="Swamp Cooler" data=data.ac_swampcooler}}}
          </div>
        </li>
        <!-- TODO: all the appliances???? -->
        <!-- TODO: custom features? -->
        <li>
          <div class="collapsible-header">Heating</div>
          <div class="collapsible-body">
            {{{inlineCheckbox name="heater_private"  label="Private" data=data.heater_private}}}
            {{{inlineCheckbox name="heater_central"  label="Whole home" data=data.heater_central}}}
            {{{inlineCheckbox name="heater_gas"  label="Gas" data=data.heater_gas}}}
            {{{inlineCheckbox name="heater_oil"  label="Oil" data=data.heater_oil}}}
            {{{inlineCheckbox name="heater_electric"  label="Electric" data=data.heater_electric}}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</form>
