<h3 class="center small-t-room">Your Home Information</h3>
<h4 class="center small-b-room">Step 2 of 3</h4>
<form method="post" class="signup-form" action="/homeowners/advanced-home-information">
  <!-- TODO: refector into some partials, this is ridiculous -->
  <input type="hidden" name="_csrf" value="{{data.csrfToken}}">
  <div class="row">
    <div class="col push-m9 m3 push-s7 s5 inline input-field">
      <button class="btn waves-effect waves-light" type="submit">Next</button>
    </div>
  </div>
  <!-- TODO: not really possible with current setup -->
  <!-- <div class="inline input-field"> -->
  <!-- <a class="btn blue darken-2 waves-effect waves-light" href="/homeowners/basic-home-information">Back</a> --->
  <!-- </div> -->
  <div class="row">
    <div class="col s12 m6 l5 offset-l1">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <!-- TODO: it would be pretty awesome to have some badges
          on these collapsibles and to do accordion style -->
          <div class="collapsible-header">Backyard</div>
          <div class="collapsible-body">
            {{{sizeField name="backyard_size" type="number" msg=messages.backyard_size labelVal="Approx. area (in sq ft): " data=data.backyard_size}}}
            {{{inlineInput name="backyard_private" type="checkbox" labelVal="Private" data=data.backyard_private}}}
            {{{inlineInput name="backyard_swingset" type="checkbox" labelVal="Swingset" data=data.backyard_swingset}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Garage</div>
          <div class="collapsible-body">
            {{{sizeField name="garage_size" type="number" msg=messages.garage_size labelVal="Approx. area (in sq ft): " data=data.garage_size}}}
            {{{inlineInput name="garage_private" type="checkbox" labelVal="Private" data=data.garage_private}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Storage</div>
          <div class="collapsible-body">
            {{{sizeField name="storage_size" type="number" msg=messages.storage_size labelVal="Approx. area (in sq ft): " data=data.storage_size}}}
            {{{inlineInput name="storage_private" type="checkbox" labelVal="Private" data=data.storage_private}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Driveway or External Parking</div>
          <div class="collapsible-body">
            {{{sizeField name="parking_size" type="number" msg=messages.parking_size labelVal="Approx. area (in sq ft): " data=data.parking_size}}}
            {{{inlineInput name="parking_private" type="checkbox" labelVal="Private" data=data.parking_private}}}
            {{{inlineInput name="parking_covered" type="checkbox" labelVal="Covered" data=data.parking_covered}}}
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m6 l5">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header">Spa</div>
          <div class="collapsible-body">
            {{{sizeField name="spa_size" type="number" msg=messages.spa_size labelVal="Approx. area (in sq ft): " data=data.spa_size}}}
            {{{inlineInput name="spa_private" type="checkbox" labelVal="Private" data=data.spa_private}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Pool</div>
          <div class="collapsible-body">
            {{{sizeField name="pool_size" type="number" msg=messages.pool_size labelVal="Approx. area (in sq ft): " data=data.pool_size}}}
            {{{inlineInput name="pool_private" type="checkbox" labelVal="Private" data=data.pool_private}}}
            {{{inlineInput name="pool_heated" type="checkbox" labelVal="Heated" data=data.pool_heated}}}
          </div>
        </li>
        <li>
          <div class="collapsible-header">Air Conditioning</div>
          <div class="collapsible-body">
            {{{inlineInput name="ac_private" type="checkbox" labelVal="Private" data=data.ac_private}}}
            {{{inlineInput name="ac_central" type="checkbox" labelVal="Whole home" data=data.ac_central}}}
            {{{inlineInput name="ac_swampcooler" type="checkbox" labelVal="Swamp Cooler" data=data.ac_swampcooler}}}
          </div>
        </li>
        <!-- TODO: all the appliances???? -->
        <!-- TODO: custom features? -->
        <li>
          <div class="collapsible-header">Heating</div>
          <div class="collapsible-body">
            {{{inlineInput name="heater_private" type="checkbox" labelVal="Private" data=data.heater_private}}}
            {{{inlineInput name="heater_central" type="checkbox" labelVal="Whole home" data=data.heater_central}}}
            {{{inlineInput name="heater_gas" type="checkbox" labelVal="Gas" data=data.heater_gas}}}
            {{{inlineInput name="heater_oil" type="checkbox" labelVal="Oil" data=data.heater_oil}}}
            {{{inlineInput name="heater_electric" type="checkbox" labelVal="Electric" data=data.heater_electric}}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</form>
