<div class="row">
  <div class="col s12 m8">
    <h3 class="very-small-r-room">Your Auction</h3>
    <p>Please let us know when and how long you'd like for your auction to be. Then adjust any information related to your home.</p>
  </div>
</div>
<form method="post" id="auction-setup-form" action="/homeowners/auction-information">
  <input type="hidden" name="_csrf" value="{{data.csrfToken}}">
  <div class="row">
    <div class="col m12 l8">
      <div class="row">
        <div class="col s12 m4 l3">
          <div class="row">
            <div class="col s12">
              {{{numberField name="auction_length" default="14" msg=messages.auction_length label="Auction Length (in days): " data=data.auction_length}}}
            </div>
            <div class="col s12">
              {{{dateField name="auction_start_date" msg=messages.auction_start_date label="Auction Start Date: " data=data.auction_start_date}}}
            </div>
            <p class="extra-info">* All auctions are started at 12AM Central Time and end at 11:59PM Central Time.</p>
          </div>
       </div>
       <div class="col s12 m8 l9">
         <button class="submit btn">Submit Auction</button>
         <a class="submit red darken-3 btn">Delete Auction</a>
         <table class="bordered small-t-room">
           <thead>
             <tr>
               <th data-field="id">Your Listing Data:</th>
             </tr>
           </thead>
           <!-- TODO: add href to each Edit button, prob should create hb helper -->
           <tbody>
             <tr>
               <td>Home Type: </td>
               <td>{{#if data.homeType}}{{data.homeType}}{{else}}Unknown{{/if}}</td>
               <td><a class="btn-flat waves-effect waves-blue">Edit</a></td>
             </tr>
             <tr>
               <td>Home Size: </td>
               <td>{{#if data.homeSize}}{{data.homeSize}}{{else}}Unknown{{/if}}</td>
               <td><a class="btn-flat waves-effect waves-blue">Edit</a></td>
             </tr>
             <tr>
               <td>Address: </td>
               <td>{{#if (and data.streetNumber data.route)}}{{data.streetNumber}} {{data.route}}, {{data.secondaryDesignator}} {{data.secondaryDescriptor}}{{else}}Unknown{{/if}}</td>
               <td><a class="btn-flat waves-effect waves-blue">Edit</a></td>
             </tr>
             <tr>
               <td>Realtor Fee: </td>
               <td>{{#if data.flat_fee}}${{data.flatFee}}{{else}}Unknown{{/if}}</td>
               <td><a class="btn-flat waves-effect waves-blue">Edit</a></td>
             </tr>
             <tr>
               <td>Realtor Commission: </td>
               <td>{{#if data.trad_commission}}{{data.flatFee}}%{{else}}Unknown{{/if}}</td>
               <td><a class="btn-flat waves-effect waves-blue">Edit</a></td>
             </tr>
             <tr>
               <td>Listing Price: </td>
               <td>{{#if data.listing_price}}{{data.flatFee}}${{else}}Unknown{{/if}}</td>
               <td><a class="btn-flat waves-effect waves-blue">Edit</a></td>
             </tr>
             <tr>
               <td>Desired Sale Date: </td>
               <td>{{#if data.sale_date}}{{data.flatFee}}{{else}}Unknown{{/if}}</td>
               <td><a class="btn-flat waves-effect waves-blue">Edit</a></td>
             </tr>
             <tr>
               <td>Earliest Sale Date: </td>
               <td>{{#if data.min_sale_date}}{{data.flatFee}}{{else}}Unknown{{/if}}</td>
               <td><a class="btn-flat waves-effect waves-blue">Edit</a></td>
             </tr>
             <tr>
               <td>Latest Sale Date: </td>
               <td>{{#if data.max_sale_date}}{{data.flatFee}}{{else}}Unknown{{/if}}</td>
               <td><a class="btn-flat waves-effect waves-blue">Edit</a></td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
    </div>
    <div class="col m12 l4">
      <ul class="collapsible popout small-l-room">
        <li>
          <div class="collapsible-header active">Auction Length</div>
          <div class="collapsible-body">
            <p>In order to get enough bids, we recommend at least ten days, but an auction as few as 7 days should get you a good variety of realtor bids on your listing.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Auction Start Date</div>
          <div class="collapsible-body">
            <p>We'll email you when your auction starts. Once the auction has completed, we'll send you a list of realtors. </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</form>
