<h3 class="center small-t-room">Your Home Information</h3>
<h4 class="center small-b-room">Step 1 of 3</h4>
<div class="row">
  <div class="col s12 m5 small-r-room">
    <form method="post" class="signup-form" action="/homeowners/basic-home-information">
      <input type="hidden" name="_csrf" value="{{data.csrfToken}}">
      <div class="input-field">
        <select name="homeType" id="homeType">
          <option value="house" {{#ifEquals data.homeType "house"}}selected{{/ifEquals}}>House</option>
          <option value="condo" {{#ifEquals data.homeType "condo"}}selected{{/ifEquals}}>Condo</option>
          <option value="townhome" {{#ifEquals data.homeType "townhome"}}selected{{/ifEquals}}>Townhome</option>
        </select>
        <label for="homeType">Type of home: </label>
      </div>
      <p class="range-field">
        <label for="numBedrooms">Num Bedrooms: </label>
        <input type="range" id="numBedrooms" name="numBedrooms" min="1" max="10" value="{{#if data.numBedrooms}}{{data.numBedrooms}}{{else}}3{{/if}}" step="0.5" />
      </p>
      <p class="range-field">
        <label for="numBathrooms">Num Bathrooms: </label>
        <input type="range" id="numBathrooms" name="numBathrooms" min="0.25" max="10" value="{{#if data.numBathrooms}}{{data.numBathrooms}}{{else}}2{{/if}}" step="0.25" />
      </p>
      <div class="row">
        <div class="input-field col s6">
          <input class="validate {{#if messages.builtIn}}invalid{{/if}}" type="number" id="builtIn" name="builtIn" min="1850" max="2017" value="{{#if data.builtIn}}{{data.builtIn}}{{else}}1985{{/if}}" step="1" />
          <label for="builtIn" data-error="{{#if messages.builtIn}}{{messages.builtIn}}{{/if}}">Built In: </label>
        </div>
        <div class="input-field col s6">
          <input class="validate {{#if messages.homeSize}}invalid{{/if}}" type="number" name="homeSize" id="homeSize" min="0" max="500000" step="100" value="{{#if data.homeSize}}{{data.homeSize}}{{else}}2000{{/if}}"/>
          <label for="homeSize" data-error="{{#if messages.homeSize}}{{messages.homeSize}}{{/if}}">Size (in sq ft)</label>
        </div>
      </div>
      <div class="input-field">
        <input id="googAddress" name="address" placeholder="" class="controls validate {{#if messages.address}}invalid{{/if}}" value="{{#if data.address}}{{data.address}}{{/if}}" type="text">
        <label for="googAddress" id="googAddressMsgs" data-error="{{#if messages.address}}{{messages.address}}{{else}}{{#if messages.streetNumber}}{{messages.streetNumber}}{{/if}}{{/if}}">Your address: </label>
        <input type="hidden" id="streetNumber" name="streetNumber" value="{{#if data.streetNumber}}{{data.streetNumber}}{{/if}}"> <!-- the number of the house -->
        <input type="hidden" id="route" name="route" value="{{#if data.route}}{{data.route}}{{/if}}">
        <input type="hidden" id="city" name="city" value="{{#if data.city}}{{data.city}}{{/if}}"> <!-- locality -->
        <input type="hidden" id="neighborhood" name="neighborhood" value="{{#if data.neighborhood}}{{data.neighborhood}}{{/if}}">
        <input type="hidden" id="county" name="county" value="{{#if data.county}}{{data.county}}{{/if}}"> <!-- administrative_area_level_2 -->
        <input type="hidden" id="state" name="state" value="{{#if data.state}}{{data.state}}{{/if}}"> <!-- administrative_area_level_1 -->
        <input type="hidden" id="zipcode" name="zipcode" value="{{#if data.zipcode}}{{data.zipcode}}{{/if}}"> <!-- postal_code -->
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select name="secondaryDesignator" id="secondaryDesignator">
            <option value="" disabled {{#unless data.secondaryDesignator}}selected{{/unless}}>APT, UNIT, ...</option>
            <option value="apt" {{#ifEquals data.secondaryDesignator "apt"}}selected{{/ifEquals}}>APT</option>
            <option value="unit" {{#ifEquals data.secondaryDesignator "unit"}}selected{{/ifEquals}}>UNIT</option>
          </select>
        </div>
        <div class="input-field col s6">
          <input type="text" name="secondaryDescriptor" id="secondaryDescriptor" value="{{#if data.secondaryDescriptor}}{{data.secondaryDescriptor}}{{/if}}"/>
          <label for="secondaryDescriptor">Number</label>
        </div>
      </div>
      <div class="input-field">
        <button class="btn waves-effect waves-light" type="submit">Next</button>
      </div>
    </form>
  </div>
  <div class="col s12 m6 small-t-room" id="map">
  </div>
</div>
