<<div class="big-t-room med-b-room section">
  <h5 class="logo center"><span class="biginate">R</span>ates & <span class="biginate">A</span>gents</h5>
  <div class="row">
    <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4 divider very-small-v-room"></div>
    <div class="col s6 offset-s3">
      <p class="center">Sign in with <a href="/realtors/auth/facebook">Facebook</a> or use your email below.</p>
    </div>
  </div>
  <div class="row small-t-room">
    <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
      <!-- TODO: add a generic error catcher for server errors, etc -->
      <form method="post" class="login-form" action="/realtors/login">
        <input type="hidden" name="_csrf" value="{{data.csrfToken}}">
        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <i class="very-small-t-room material-icons prefix">email</i>
              <input type="text" name="email" class="validate {{#if messages.email}}invalid{{/if}}" data-error="{{#if messages.email}}{{messages.email}}{{/if}}" value="{{#if data.email}}{{data.email}}{{/if}}">
              <label for="email" data-error="{{#if messages.email}}{{messages.email}}{{/if}}">Email Address</label>
            </div>
          </div>
          <div class="col s12">
            <div class="input-field">
              <i class="very-small-t-room material-icons prefix">vpn_key</i>
              <!-- TODO: inline password strenght validation, use react -->
              <input type="password" name="password" class="validate {{#if messages.password}}invalid{{/if}}">
              <label for="password" data-error="{{#if messages.password}}{{messages.password}}{{/if}}">Password</label>
            </div>
          </div>
          <div class="col s11 offset-s1">
            <div class="input-field small-v-room" style="padding-left: 0.75rem;">
              <button type="submit" class="btn btn-large full-width waves-effect">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
