<head>
  <title>Rates and Agents</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="/css/main.css?tcb={{getDateNumeral}}" />

  <!-- TODO serve fonts locally? -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->

  {{{socialTags socialData=this.socialData}}}

  {{#if reduxRender}}
  <script type="text/javascript" src="/js/hbs.bundle.js?tcb={{getDateNumeral}}"></script>
  <script type="text/javascript" src="/js/redux.bundle.js?tcb={{getDateNumeral}}"></script>
  {{else}}
  <script type="text/javascript" src="/js/hbs.bundle.js?tcb={{getDateNumeral}}"></script>
  {{/if}}
</head>
